// Place all the styles related to the Practice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
	font-family:arial;
}
#color_pick{
	display: flex;
}
#color_pick p{
	margin: 10px;
}